@using ScheduleHelper.Core.DTO;
@model ScheduleSettingsDTO;
<form method="post" action=@ViewBag.actionForForm>
    <h1>Generate shedule</h1>
    <label>Start time</label>
    <input asp-for=startTime type="time" /> 
    <button id="btnSetNow" type="button" class="btn btn-primary">Set now</button>
    <br />
    <label asp-for="finishTime">Finish time</label>
    <input asp-for=finishTime type="time" />
    <br />
    <label>Breaks</label>
    <input asp-for=hasScheduledBreaks type="checkbox" />
    <br />
    <label>Break lenght(minutes)</label>>
    <input asp-for=breakLenghtMin type="number" />
    </br>
    <label>Minimal time between breaks</label>>

    <input asp-for="MinWorkTimeBeforeBreakMin"></input>
    <br />
    <label>Max time between breaks</label>>
    <input asp-for="MaxWorkTimeBeforeBreakMin"></input>
    </br>
    <input type="submit" value="Generate schedule"></input>
</form>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="~/js/SetNow.js?v=2"></script>