<div class="container">
    <partial name="_GenerateScheduleForm">
</div>
@section js
{
    <script src="~/js/SetNow.js?v=3"></script>
}

@section css
{
    <link rel="stylesheet" href="css/GenerateScheduleForm.css">
}