@using ScheduleHelper.Core.DTO;
@model ScheduleSettingsPostDTO;
<form method="post" action=@RouteConstants.GenerateScheduleSettings>
    <h1>Generate shedule</h1>
    <label>Start time</label>
    <input asp-for=startTime type="time"/>
    <br/>
    <label>Finish time</label>
    <input asp-for=finishTime type="time" />
    <label>Breaks</label>
    <input asp-for=hasScheduledBreaks type="checkbox" />
    <br/>
    <label>Break lenght(minutes)</label>>
    <input asp-for=breakLenghtMin type="number" />
    </br>
    <input type="submit" value="Generate schedule"></input>
</form>