<form>

    <label>start time</label>
    <input type="time"/><br/>
    <label>Breaks</label>
    <input type="checkbox"/><br/>
    <label>Break lenght(minutes)</label>>
    <input type="number" />
    </br>
    <input type="submit" value="Generate schedule"></input>
</form>