@model FinaliseSlotDTO;
@using ScheduleHelper.Core.DTO

@{
    Layout = "~/Views/Shared/_LayaoutForms.cshtml";
}
<partial name="_Logo">
<div class="container-fluid d-flex justify-content-center mt-5">
        <div class="formContainer rounded-4 d-flex flex-column ">
            <h1>Finish time slot</h1>

            <form class="mt-4" action=@RouteConstants.FinishTimeSlot method="post">
                <div>
                    <label  for="FinishTime">When slot was finished</label>
                    <div class="d-flex mb-4 mt-2">
                    
                        
                        <input class="inputWithTimeToBeSetOnCurrent form-control" asp-for=FinishTime type="time" />
                    
                        <button type="button" class="btn btn-primary btnSetNow">Set now</button>
                    </div>
                </div>
                <div @if (ViewBag.isTaskFixed) {<text>style="display: none;"</text>}>
                    <label for="ComplitedShareOfTask">What share of task was complited</label>
                    
                    <div  class="d-flex mb-4 mt-2">

                        <input class="form-range rangeSlider " value="100" type="range" min="0" max="100" asp-for=ComplitedShareOfTask />
                        <label class="rangeLabel text-end sucessColor" id="labShareOfComplited" asp-for="ComplitedShareOfTask">100%</label>
                    </div>
                </div>
                <input asp-for=SlotId hidden />
                <br />
                <div class="d-flex justify-content-center">
                    <input class="btn-primary btn rounded-4 me-2 btnFinishAndCancel  w-100" type="submit" value="Finalise" />
                    <a href=@RouteConstants.ShowSchedule class ="btnSecondary btn rounded-4 btnFinishAndCancel w-100">Cancel</a>
                </div>
            </form>
        </div>
</div>

@section js
{
    <script src="~/js/SetNow.js?v=4"></script>
        <script src="~/js/UpdateRange.js?v=4"></script>
}

@section css
    {
    <link rel="stylesheet" href="css/OperationStatusStyles.css">
        <link rel="stylesheet" href="css/FinaliseStyles.css">

}
