<div class="container">
    <partial name="_GenerateScheduleForm">

        <a href=@RouteConstants.ShowSchedule>Go to shedule</a>
        <a href=@RouteConstants.ShowTasksList>Edit tasks list</a>
</div>

@section js
{
    <script src="~/js/SetNow.js?v=3"></script>
}

@section css
{
    <link rel="stylesheet" href="css/GenerateScheduleForm.css">
}