<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="css/SlotsStyles.css">
    <link rel="stylesheet" href="css/ChartStyles.css">
</head>
<body>
    <div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        @RenderBody()

        
    </div>

</body>
</html>
