@using ScheduleHelper.Core.DTO;

@model TaskCreateDTO
<div class="container">
    <form action=@ViewBag.formHref method="post">
        <label for="Name">Taks name:</label>
        <input asp-for="Name" />

        <br />

        <label>Task duration:</label>
        <input type="number" step="0.5" asp-for="Time" />
        <br />
        <label>Has start time</label>
        <input asp-for=HasStartTime type="checkbox" />
        <br />
        <label>Start time</label>
        <input asp-for=StartTime type="time" disabled />
        <br />
        <input type="submit" value="Save" />
    </form>

    <a href="/">back</a>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="~/js/ToggleAvaiableStatusWhenCheckBoxChange.js?v=7.0"></script>
</div>