@using ScheduleHelper.Core.DTO;

@model TaskCreateDTO 
<form action=@ViewBag.formHref method="post">
    <label for="Name">Taks name:</label>
    <input asp-for="Name" />

    <br />

    <label >Task duration:</label>
    <input type="number" step="0.5" asp-for="Time" />

    <br />

    <input type="submit" value="Save" />
</form>

<a href="/">back</a>


