@using ScheduleHelper.Core.DTO;
@model List<TaskCreateDTO>
<div class="mt-5">
    <h1 class="mainTitle">Tasks List</h1>
    <p class="secondaryTitle mb-5">View all tasks in schedule</p>
    <div class="w-100 d-flex justify-content-between" ">
        <div>
            <span class="labAvaiableTime">Avaiable free time</span><span class="avaiableTime">: @ViewBag.EstimatedFreeTime min</span>
            <p class="avaiableTimeDownLabel">To change base amount of time <a class="blueFont" href=@RouteConstants.ShowScheduleSettings>update settings</a></p>
        </div>
        <a class="mb-2 btn btnAddTask btn-primary roundedBlueBtn" href=@RouteConstants.AddNewTask>add new task+</a>
    </div>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th class="col colBlue">Task name</th>
                <th class="col colBlue">Duration</th>
                <th class="col colBlue d-none d-sm-table-cell">Fixed start</th>
                <th class="col colBlue"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {

                var editRoute = RouteConstants.UpdateTask + "?taskToEditId=" + task.Id;
                var deleteRoute = RouteConstants.DeleteTask + "?taskToDeleteId=" + task.Id;

                <tr>
                    <td>@task.Name</td>
                    <td>@task.Time</td>
                    @if(task.HasStartTime)
                    {
                        <td class="d-none d-sm-table-cell">@task.StartTime</td>
                    }
                    else
                    {
                        <td class="d-none d-sm-table-cell">No</td>
                    }
                    <td class="justify-content-end d-flex">
                        <a href=@editRoute class="bi bi-pencil-square me-3"></a>
                        <a href=@deleteRoute class="bi bi-x-circle me-3"></a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <a class="mb-5 mt-2 btn btnSecondary generateScheduleBtn" href=@RouteConstants.GenerateScheduleSettings>Generate Schedule</a>
    </div>
</div>


@section css
{
    <link rel="stylesheet" href="css/TasksListStyles.css">

}

